body {
  background: orange;
}
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
#main{
max-width: 1388px;
margin:auto;

}
section{
  width: 100%;
  height: 600px;
  background-color: antiquewhite;
  margin-bottom: 20px;
}
#b{
  opacity: 0%;
}